@{
    Page.Title = "Suit v6";
}
<img src="~/Images/Arc2.png" alt="Arc reactor (Palladium)" />
@section Info {
    <p>
        The Mark VI's armor design is based on the Mark IV, with the exception of the new triangular shaped Unibeam
        on its Chest Piece and armor coloring. Its overall color design uses red, gold and silver plates.
        It is the first armor to feature a triangular shaped Unibeam on its Chest Piece.
    </p>
}

@section Links {
    <a href="Mark3.cshtml">Mark III</a>
}